@model Cart

@{
    ViewData["Title"] = "Your Cart";
}

<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Product Image</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
   
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.Product.ProductName</td>
                <td><img src="@item.Product.ImageUrl" width="100px" alt="Alternate Text" /></td>
                <td>
                    <form asp-action="UpdateCartItem" method="post">
                        <input type="hidden" name="cartItemId" value="@item.CartItemId" />
                        <input type="number" name="quantity" value="@item.Quantity" min="1" />
                        <input type="submit" value="Update" class="btn btn-primary" />
                    </form>
                </td>
                <td>R @item.Product.Price * @item.Quantity</td>
                <td>
                    <form asp-action="RemoveFromCart" method="post">
                        <input type="hidden" name="cartItemId" value="@item.CartItemId" />
                        <input type="submit" value="Remove" class="btn btn-danger" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <h3>Total: R @Model.Items.Sum(i => i.Product.Price * i.Quantity)</h3>
</div>

<br />
<a asp-controller="Shop" asp-action="index">Continue Shopping</a>
<a asp-controller="Checkout" asp-action="Index">Go To Checkout</a>